.popupContainer {
  display: flex;
  gap: 10px;

  img {
    // width: 20px;
    // height: 20px;
    object-fit: cover;
    margin-top: 5px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 1px;


    a {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: -2px;
    }

    .span1 {
      font-weight: 600;
      font-size: 11px;
    }

    .span2 {
      font-weight: 800;
      font-size: 12px;
    }
  }
}