.popupContainer {
  // display: flex;
  // gap: 10px;
  height: auto;

  img {
    // width: 20px;
    // height: 20px;
    object-fit: cover;
    margin-top: 5px;
    flex: 1;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    // flex: 3;
    // justify-content: space-between;

    a {
      font-size: 12px;
      font-weight: 800;
      margin-bottom: -2px;
    }

    .span1 {
      font-weight: 600;
      font-size: 11px;
    }

    .span2 {
      font-weight: 800;
      font-size: 12px;
    }
  }
}