.count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    bottom: 10px;
    right: 10px;
    // width: 40px;
    // height: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.904);

    img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    span {
        font-size: 12px;
        color: white;
    }
}