@import "../../responsive.scss";

.featured-container {
    display: flex;
    justify-content: center;

    .featured {
        width: 100%;
        max-width: 1440px;
        height: auto;
        padding: 30px 7%;

        h2 {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        .container {
            width: 100%;
            display: grid;
            gap: 16px;
            // grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            margin-bottom: 20px;
            padding-top: 10px;
        }
    }
}