@import "../../responsive.scss";

.navbar {
    z-index: 9999;
    width: 100%;
    height: 64px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    font-family: "Inter";

    &.active {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        background-color: white;
        color: black;

        button {
            background-color: white !important;
            color: #1dbf73 !important;
            border: 1px solid #1dbf73 !important;
        }
    }

    a {
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;
    }

    .container {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        padding: 0 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sm {
            padding: 0 4%;
        }

        .left {
            display: flex;
            flex: 2;
            align-items: center;

            .logo {
                font-weight: bold;
                font-size: 22px;
                display: flex;
                align-items: center;
                gap: 10px;

                // img {
                //     width: 28px;
                // }

                .span {
                    color: white;

                    &.active {
                        color: black;
                    }

                    // @include md {
                    //     display: none;
                    // }

                    // @include sm {
                    //     display: initial;
                    // }
                }
            }
        }

        .right {
            display: flex;
            flex: 3;
            align-items: center;
            justify-content: flex-end;

            .links {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
                width: 100%;

                .a {
                    color: white;

                    &.active {
                        color: black;
                        font-size: 13px;
                        font-weight: 600;

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                @include sm {
                    display: none;
                }

                .add-button {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    padding: 7px 14px;
                    background-color: transparent;
                    font-weight: 600;
                    border: 3px solid white;
                    background-color: white;
                    // border: 2px solid $primary;
                    color: $primary;
                    // color: $primary;
                    cursor: pointer;
                    border-radius: 3px;
                    min-width: max-content;

                    &.active {
                        border: 3px solid $primary;
                        color: white;
                        background-color: $primary;
                    }
                }

                .auth {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    padding: 9px 14px;
                    background-color: $primary;
                    // border: 2px solid white;
                    color: white;
                    cursor: pointer;
                    border-radius: 3px;
                    min-width: max-content;

                    &.active {
                        // border: 2px solid $primary;
                        color: white;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    // column-gap: 5px;
                    // padding: 6px 14px;
                    // color: white;
                    // border: none;
                    // cursor: pointer;
                    // background-color: $primary;
                    border-radius: 50%;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $primary;
                        object-fit: cover;
                        // margin-right: 20px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 13px;
                    }

                    .profile {
                        padding: 10px 24px;
                        background-color: $primary;
                        color: white;
                        cursor: pointer;
                        border: none;
                        border-radius: 3px;
                        position: relative;

                        &:hover {
                            opacity: 0.9;
                        }

                        .notification {
                            position: absolute;
                            top: -8px;
                            right: -8px;
                            background-color: $second;
                            color: white;
                            border-radius: 50%;
                            width: 26px;
                            height: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                    }
                }

                .login-button {
                    padding: 5px 14px;
                    font-weight: 600;
                    background-color: white;
                    color: black;
                    cursor: pointer;
                    border: 2px solid black;
                    border-radius: 3px;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .register-button {
                    padding: 7px 14px;
                    font-weight: 600;
                    background-color: $primary;
                    color: white;
                    cursor: pointer;
                    border: none;
                    border-radius: 3px;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            .menuIcon {
                display: none;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }

                @include sm {
                    display: inline;
                }
            }

            .menu {
                transform: translateX(5000px);

                @include sm {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(73, 73, 73, 0.452);
                    background-color: transparent;
                    color: white;
                    height: 100vh;
                    width: 100%;
                    transform: translateX(800px);
                    transition: transform .7s ease;

                    &.active {
                        // display: flex;
                        transform: translateX(0);
                    }
                }


                @include sm {
                    a {
                        display: initial;
                    }
                }

                .inner-menu {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: black;
                    background-color: #7c4dff;
                    color: white;
                    height: 100vh;
                    width: 85%;

                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                    padding-left: 30px;
                    padding-top: 70px;

                    // &.active {
                    // }

                    a {
                        font-size: 18px;
                    }

                    .close {
                        position: absolute;
                        top: 20px;
                        right: 5%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}